doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Iniciar sesi칩n
    link(rel="stylesheet", href="login.css")
  
  body
    header
      .logo
        img(src="logo.png.png", alt="Logo")

    main
      .container
        .login-section
          form(action="/login", method="POST")
            h2 Inicia sesi칩n como administrador
            div
              input(type="text", name="email", id="email", placeholder="Email")
            div
              input(type="password", name="password", id="password", placeholder="Contrase침a")
            button(type="submit") Iniciar sesi칩n

        .image-section
          img(src="https://i.pinimg.com/originals/9c/d4/57/9cd457e63559f1486af167935e884760.jpg", alt="Imagen")
