<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <title> Bear Gaming</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <header class = "header"> 
            <div class = "logo">
                <img src="static/logo.png.png" alt="Logo de la tienda">
            </div>
            <div class = "user-options">
                <button class=" user-btn">🛒 Carrito  </button>
                <button class=" user-btn">👤  Admin  </button>
            </div>
        </header>
        <main>
            <section class = "featured_product">
                <h1 class = "featured_title"> Los juegos sensación del momento </h1>
                <img src="static/wukong.jpg" alt="juego del mono">
            </section>
            <section class = "products">
                <h2> Todas las categorìas </h2>
                {{range .products}}
                <div class = "product_item">
                    <div>
                        <img src="{{.imageProduct}}" alt="imagen.jpg">
                        <h3> {{.title}}</h3>
                        <p class="price"> {{.price}}$ </p>
                    </div>
                    {{ end }}
                </div>
            </section>
        </main>
    </body>
</html>